
.icon-search:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */